* {
  font-family: Arial, sans-serif
}

body {
  background:#FCFCFC
}

.currentImage {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.card-body {
  padding: 0;
}

.btn-outline-info:hover {
  color: white;
}

/* 技能名稱 */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 2px 6px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 2px 6px;
  word-break: normal;
}
.tg .tg-onj3 {
  background-color: #fff;
  color: #999;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-4bam {
  background-color: #fff;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-abn1 {
  background-color: #46bdc6;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
}

/* 技能等級 */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 2px 6px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 2px 6px;
  word-break: normal;
}
.tg .tg-c7yp {
  background-color: #fff9ce;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-f4yw {
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}

.skill-z-index {
  position: absolute;
  /* width: 300px; */
  /* background-color: azure; */
  /* border-radius:10px; */
  z-index: 100
}

.image {
  width: 35px;
  height: 35px;
}